node-RED/nodeREDflow.txt
[{"id":"abd8befe.e1ea4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a6f2c863.597cb8","type":"serial in","z":"abd8befe.e1ea4","name":"","serial":"72f97cae.0435bc","x":150,"y":80,"wires":[["3cbb5d6c.4ba06a","e61554dc.78b18"]]},{"id":"f53df489.5501a8","type":"debug","z":"abd8befe.e1ea4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":240,"wires":[]},{"id":"3cbb5d6c.4ba06a","type":"trigger","z":"abd8befe.e1ea4","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":350,"y":80,"wires":[["7d94555f.598cbc","f0735ea4.16ba88"]]},{"id":"7d94555f.598cbc","type":"function","z":"abd8befe.e1ea4","name":"getbyte","func":"var buf = msg.payload;\nif(buf[0]== 66){\n    if (buf[1]== 77){\n     var pm1= parseInt(buf[4]*256+buf[5]); \n     var pm25 = parseInt(buf[6]*256+buf[7]);\n     var pm10 = parseInt(buf[8]*256+buf[9]);\n     global.set(\"pm1\", pm1);\n     global.set(\"pm25\", pm25);\n     global.set(\"pm10\", pm10);\n   // msg.payload.PM1 = pm1;\n    //msg.payload.PM25 = pm25;\n    //msg.payload.PM10 = pm10;\n    return {payload:{message:{pm1, pm25, pm10}}};\n   // return msg;\n    }\n    else{\n        var er2 = \"errorch2\"\n        global.set(\"pm1\", er2);\n        global.set(\"pm25\", er2);\n        global.set(\"pm10\", er2); \n        return {payload:er2}  \n    }\n}\nelse{\n    var er1 = \"errorch1\"\n    global.set(\"pm1\", er1);\n    global.set(\"pm25\", er1);\n    global.set(\"pm10\", er1); \n    return {payload: er1};\n}","outputs":1,"noerr":0,"x":520,"y":60,"wires":[["9ffd85ff.6f4aa8"]]},{"id":"867509f2.2925f","type":"mqtt in","z":"abd8befe.e1ea4","name":"","topic":"Test1","qos":"2","broker":"","x":1350,"y":400,"wires":[["9566184f.6b13d8"]]},{"id":"cad879f1.2514c","type":"ui_text_input","z":"abd8befe.e1ea4","name":"","label":"City Name","group":"8c7c1dce.58939","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":890,"y":940,"wires":[["1752af3.09d92d1"]]},{"id":"24e70783.28c92","type":"ui_text_input","z":"abd8befe.e1ea4","name":"","label":"Station Name","group":"8c7c1dce.58939","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":900,"y":980,"wires":[["eddaebd.9d2f698"]]},{"id":"651e2a75.ce8b9c","type":"ui_numeric","z":"abd8befe.e1ea4","name":"","label":"Latitude","group":"8c7c1dce.58939","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":880,"y":1060,"wires":[["a5cf689.d6cb498"]]},{"id":"83f44c29.b1acd8","type":"ui_numeric","z":"abd8befe.e1ea4","name":"","label":"Longitude","group":"8c7c1dce.58939","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":880,"y":1020,"wires":[["76f8a0cd.a9bb28"]]},{"id":"e9247493.261fc8","type":"ui_numeric","z":"abd8befe.e1ea4","name":"","label":"Averaging","group":"8c7c1dce.58939","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":890,"y":1100,"wires":[["f90a94fd.51a4e8"]]},{"id":"7c3ca877.bc81e8","type":"ui_numeric","z":"abd8befe.e1ea4","name":"","label":"Monitor ID","group":"8c7c1dce.58939","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":890,"y":900,"wires":[["3ad33770.46aa8"]]},{"id":"3ad33770.46aa8","type":"function","z":"abd8befe.e1ea4","name":"setmonitorid","func":"var mid = msg.payload;\nflow.set(\"monitorID\", mid);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":900,"wires":[[]]},{"id":"1752af3.09d92d1","type":"function","z":"abd8befe.e1ea4","name":"setcityname","func":"var city = msg.payload;\nflow.set(\"cityname\", city);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":940,"wires":[[]]},{"id":"eddaebd.9d2f698","type":"function","z":"abd8befe.e1ea4","name":"setstationname","func":"var stn = msg.payload;\nflow.set(\"stationname\", stn);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":980,"wires":[[]]},{"id":"76f8a0cd.a9bb28","type":"function","z":"abd8befe.e1ea4","name":"setlongitude","func":"var lon = msg.payload;\nflow.set(\"longitude\", lon);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1020,"wires":[[]]},{"id":"a5cf689.d6cb498","type":"function","z":"abd8befe.e1ea4","name":"setlatitude","func":"var lat = msg.payload;\nflow.set(\"latitude\", lat);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1060,"wires":[[]]},{"id":"f90a94fd.51a4e8","type":"function","z":"abd8befe.e1ea4","name":"setaveraging","func":"var avg = msg.payload;\nflow.set(\"averaging\", avg);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1100,"wires":[[]]},{"id":"9b9e81a5.78958","type":"debug","z":"abd8befe.e1ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":340,"wires":[]},{"id":"24b5e5aa.cd8fba","type":"inject","z":"abd8befe.e1ea4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0","x":130,"y":360,"wires":[["8d9f526.073543"]]},{"id":"bd1a3449.e25c2","type":"inject","z":"abd8befe.e1ea4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":540,"wires":[["7543b607.739a7"]]},{"id":"6da5878f.72455","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":2,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload.message.time}}","layout":"row-spread","x":630,"y":360,"wires":[]},{"id":"d337aeb1.001f58","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":3,"width":0,"height":0,"name":"","label":"Monitor ID","format":"{{msg.payload.message.id}}","layout":"row-spread","x":650,"y":400,"wires":[]},{"id":"fc53110e.142de","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":4,"width":0,"height":0,"name":"","label":"City Name","format":"{{msg.payload.message.cityname}}","layout":"row-spread","x":650,"y":440,"wires":[]},{"id":"d3779836.1321b","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":5,"width":0,"height":0,"name":"","label":"Station Name","format":"{{msg.payload.message.stationname}}","layout":"row-spread","x":660,"y":480,"wires":[]},{"id":"57df8411.f196c4","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":6,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.message.latitude}}","layout":"row-spread","x":640,"y":520,"wires":[]},{"id":"1b4fbb04.24d0f5","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":7,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.message.longitude}}","layout":"row-spread","x":640,"y":560,"wires":[]},{"id":"cc10a633.7b0cf8","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":8,"width":0,"height":0,"name":"","label":"PM25","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":660,"wires":[]},{"id":"3215ed63.b8ae52","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":9,"width":0,"height":0,"name":"","label":"PM10","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":700,"wires":[]},{"id":"1231ae10.73cfca","type":"ui_chart","z":"abd8befe.e1ea4","name":"","group":"99e8dbdf.923e28","order":0,"width":0,"height":0,"label":"PM1","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":640,"wires":[[],[]]},{"id":"4e914b71.d9eeb4","type":"function","z":"abd8befe.e1ea4","name":"getPM1","func":"var pm1 = msg.payload.message.PM1;\n\nreturn {payload: pm1};","outputs":1,"noerr":0,"x":630,"y":640,"wires":[["1231ae10.73cfca","38e7443e.32a014"]]},{"id":"38e7443e.32a014","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":10,"width":0,"height":0,"name":"","label":"PM1","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":620,"wires":[]},{"id":"c2c48d03.6dd86","type":"function","z":"abd8befe.e1ea4","name":"getPM25","func":"var pm25 = msg.payload.message.PM25;\n\nreturn {payload: pm25};","outputs":1,"noerr":0,"x":631,"y":680,"wires":[["cc10a633.7b0cf8","e97c0128.8b54e"]]},{"id":"e97c0128.8b54e","type":"ui_chart","z":"abd8befe.e1ea4","name":"","group":"99e8dbdf.923e28","order":0,"width":0,"height":0,"label":"PM25","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#0000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":680,"wires":[[],[]]},{"id":"a9819194.46739","type":"function","z":"abd8befe.e1ea4","name":"getPM10","func":"var pm10 = msg.payload.message.PM10;\n\nreturn {payload: pm10};","outputs":1,"noerr":0,"x":628,"y":720,"wires":[["3215ed63.b8ae52","6d27dd6a.736794"]]},{"id":"6d27dd6a.736794","type":"ui_chart","z":"abd8befe.e1ea4","name":"","group":"99e8dbdf.923e28","order":0,"width":0,"height":0,"label":"PM10","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#98df8a","#aec7e8","#ff7f0e","#2ca02c","#0000ff","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":720,"wires":[[],[]]},{"id":"9ffd85ff.6f4aa8","type":"debug","z":"abd8befe.e1ea4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":60,"wires":[]},{"id":"7e031dee.e0e0dc","type":"file","z":"abd8befe.e1ea4","name":"","filename":"/home/pi/Documents/data/datafiletest.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1010,"y":200,"wires":[]},{"id":"e3600a6a.206f2","type":"function","z":"abd8befe.e1ea4","name":"writingmesagetocsv","func":"var PM1 = msg.payload.message.PM1;\nvar PM25 = msg.payload.message.PM25;\nvar PM10 = msg.payload.message.PM10;\nvar id = msg.payload.message.id;\nvar cityname = msg.payload.message.cityname;\nvar stationname = msg.payload.message.stationname;\nvar latitude = msg.payload.message.latitude;\nvar longitude = msg.payload.message.longitude;\nvar averaging = msg.payload.message.averaging;\nvar time = msg.payload.message.time;\n\nvar data = time+\",\"+id+\",\"+cityname+\",\"+stationname+\",\"+latitude+\",\"+longitude+\",\"+averaging+\",\"+PM1+\",\"+PM25+\",\"+PM10;\n\nmsg.payload = data;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["f53df489.5501a8","7e031dee.e0e0dc"]]},{"id":"5a919195.527198","type":"ui_ui_control","z":"abd8befe.e1ea4","name":"","x":360,"y":1100,"wires":[[]]},{"id":"3fb6d466.d678bc","type":"ui_button","z":"abd8befe.e1ea4","name":"","group":"ab1ade08.37a94","order":8,"width":0,"height":0,"passthru":true,"label":"Edit","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Info\"],\"show\":[\"Home_Edit\"]}}","payloadType":"json","topic":"","x":250,"y":960,"wires":[["9aaa6542.9acc","5a919195.527198","eccfa0ad.71cc3"]]},{"id":"9aaa6542.9acc","type":"debug","z":"abd8befe.e1ea4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":840,"wires":[]},{"id":"f0735ea4.16ba88","type":"debug","z":"abd8befe.e1ea4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":120,"wires":[]},{"id":"b2591d0c.d1bbd8","type":"ui_button","z":"abd8befe.e1ea4","name":"","group":"8c7c1dce.58939","order":8,"width":0,"height":0,"passthru":true,"label":"Save","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Edit\"],\"show\":[\"Home_Info\"]}}","payloadType":"json","topic":"","x":250,"y":1260,"wires":[["5a919195.527198","243619df.fd21be","3ac85c94.40ec64"]]},{"id":"5138a659.590f5","type":"inject","z":"abd8befe.e1ea4","name":"","topic":"","payload":"{\"group\":{\"show\":[\"Home_Info\"],\"hide\":[\"Home_Edit\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":1080,"wires":[["5a919195.527198"]]},{"id":"243619df.fd21be","type":"function","z":"abd8befe.e1ea4","name":"change info edit","func":"var id = flow.get(\"monitorID\");\nvar cityname = flow.get(\"cityname\");\nvar stationname = flow.get(\"stationname\");\nvar latitude = flow.get(\"latitude\");\nvar longitude = flow.get(\"longitude\");\nvar averaging = flow.get(\"averaging\");\nvar t = flow.get(\"topic\");\n\nglobal.set(\"monitorID\", id);\nglobal.set(\"cityname\", cityname);\nglobal.set(\"stationname\", stationname);\nglobal.set(\"longitude\", longitude);\nglobal.set(\"latitude\", latitude);\nglobal.set(\"averaging\", averaging);\nglobal.set(\"topic\", t);\n\nreturn {topic:t, payload:{message:{id, cityname, stationname, latitude, longitude, averaging}}};\n","outputs":1,"noerr":0,"x":540,"y":1260,"wires":[["b98678f4.99201","642a1faf.63e3a8","27107f58.80f358","5bf53e68.537ac8","bdf9bebd.877fb8","8fc9b3bc.9e5638","81397b23.ccabf8"]]},{"id":"eccfa0ad.71cc3","type":"function","z":"abd8befe.e1ea4","name":"get info","func":"var id = global.get(\"monitorID\");\nvar cityname = global.get(\"cityname\");\nvar stationname = global.get(\"stationname\");\nvar latitude = global.get(\"latitude\");\nvar longitude = global.get(\"longitude\");\nvar averaging = global.get(\"averaging\");\nvar t = global.get(\"topic\");\nreturn {topic:t,payload:{message:{id, cityname, stationname, latitude, longitude, averaging}}};","outputs":1,"noerr":0,"x":520,"y":960,"wires":[["b0c077b5.9ae168","64fe252d.3500f4","ff59bbdb.a069c8","86f3eeab.1e20d8","a4d79f9b.a070d","94964ae9.ccb6e8","caf7fad.a8afc88","27fd09b.d825976"]]},{"id":"b98678f4.99201","type":"ui_text","z":"abd8befe.e1ea4","group":"ab1ade08.37a94","order":2,"width":0,"height":0,"name":"","label":"Monitor ID","format":"{{msg.payload.message.id}}","layout":"row-spread","x":850,"y":1220,"wires":[]},{"id":"642a1faf.63e3a8","type":"ui_text","z":"abd8befe.e1ea4","group":"ab1ade08.37a94","order":3,"width":0,"height":0,"name":"","label":"City Name","format":"{{msg.payload.message.cityname}}","layout":"row-spread","x":850,"y":1260,"wires":[]},{"id":"27107f58.80f358","type":"ui_text","z":"abd8befe.e1ea4","group":"ab1ade08.37a94","order":4,"width":0,"height":0,"name":"","label":"Station Name","format":"{{msg.payload.message.stationname}}","layout":"row-spread","x":860,"y":1300,"wires":[]},{"id":"5bf53e68.537ac8","type":"ui_text","z":"abd8befe.e1ea4","group":"ab1ade08.37a94","order":5,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.message.latitude}}","layout":"row-spread","x":840,"y":1380,"wires":[]},{"id":"bdf9bebd.877fb8","type":"ui_text","z":"abd8befe.e1ea4","group":"ab1ade08.37a94","order":6,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.message.longitude}}","layout":"row-spread","x":840,"y":1340,"wires":[]},{"id":"3009e9f0.7bce0e","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":11,"width":0,"height":0,"name":"","label":"Averaging","format":"{{msg.payload.message.averaging}}","layout":"row-spread","x":640,"y":600,"wires":[]},{"id":"8fc9b3bc.9e5638","type":"ui_text","z":"abd8befe.e1ea4","group":"ab1ade08.37a94","order":7,"width":0,"height":0,"name":"","label":"Averaging","format":"{{msg.payload.message.averaging}}","layout":"row-spread","x":850,"y":1420,"wires":[]},{"id":"64fe252d.3500f4","type":"function","z":"abd8befe.e1ea4","name":"get cityname","func":"var c = msg.payload.message.cityname;\n\nreturn {payload:c};","outputs":1,"noerr":0,"x":710,"y":940,"wires":[["cad879f1.2514c"]]},{"id":"b93a7cfc.85189","type":"inject","z":"abd8befe.e1ea4","name":"","topic":"Test1","payload":"{\"message\":{\"id\":\"0\",\"cityname\":\"Southampton\",\"stationname\":\"common#1\",\"latitude\":\"0\",\"longitude\":\"0\",\"averaging\":\"0\"}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":430,"y":1440,"wires":[["da0fe8b.e3ce218"]]},{"id":"e61554dc.78b18","type":"debug","z":"abd8befe.e1ea4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":40,"wires":[]},{"id":"b0c077b5.9ae168","type":"function","z":"abd8befe.e1ea4","name":"get id","func":"var i = msg.payload.message.id;\n\nreturn {payload:i};","outputs":1,"noerr":0,"x":690,"y":900,"wires":[["7c3ca877.bc81e8"]]},{"id":"ff59bbdb.a069c8","type":"function","z":"abd8befe.e1ea4","name":"get stationname","func":"var s = msg.payload.message.stationname;\n\nreturn {payload:s};","outputs":1,"noerr":0,"x":720,"y":980,"wires":[["24e70783.28c92"]]},{"id":"86f3eeab.1e20d8","type":"function","z":"abd8befe.e1ea4","name":"get longitude","func":"var lon = msg.payload.message.longitude;\n\nreturn {payload:lon};","outputs":1,"noerr":0,"x":710,"y":1020,"wires":[["83f44c29.b1acd8"]]},{"id":"a4d79f9b.a070d","type":"function","z":"abd8befe.e1ea4","name":"get latitude","func":"var lat = msg.payload.message.latitude;\n\nreturn {payload:lat};","outputs":1,"noerr":0,"x":710,"y":1060,"wires":[["651e2a75.ce8b9c"]]},{"id":"94964ae9.ccb6e8","type":"function","z":"abd8befe.e1ea4","name":"get averaging","func":"var a = msg.payload.message.averaging;\n\nreturn {payload:a}","outputs":1,"noerr":0,"x":720,"y":1100,"wires":[["e9247493.261fc8"]]},{"id":"caf7fad.a8afc88","type":"debug","z":"abd8befe.e1ea4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":820,"wires":[]},{"id":"da0fe8b.e3ce218","type":"function","z":"abd8befe.e1ea4","name":"change info inject","func":"var id = msg.payload.message.id;\nvar cityname = msg.payload.message.cityname;\nvar stationname = msg.payload.message.stationname;\nvar latitude = msg.payload.message.latitude;\nvar longitude = msg.payload.message.longitude;\nvar averaging = msg.payload.message.averaging;\nvar t = msg.topic;\n\nglobal.set(\"monitorID\", id);\nglobal.set(\"cityname\", cityname);\nglobal.set(\"stationname\", stationname);\nglobal.set(\"longitude\", longitude);\nglobal.set(\"latitude\", latitude);\nglobal.set(\"averaging\", averaging);\nglobal.set(\"topic\", t);\n\nreturn {topic:t, payload:{message:{id, cityname, stationname, latitude, longitude, averaging}}};\n","outputs":1,"noerr":0,"x":590,"y":1360,"wires":[["8fc9b3bc.9e5638","5bf53e68.537ac8","bdf9bebd.877fb8","27107f58.80f358","642a1faf.63e3a8","b98678f4.99201","81397b23.ccabf8"]]},{"id":"3ac85c94.40ec64","type":"debug","z":"abd8befe.e1ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":1360,"wires":[]},{"id":"7543b607.739a7","type":"ui_switch","z":"abd8befe.e1ea4","name":"","label":"Send Data","group":"8dc34124.794018","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":480,"wires":[["8d9f526.073543"]]},{"id":"8d9f526.073543","type":"function","z":"abd8befe.e1ea4","name":"createmessageMain","func":"var PM1 = global.get(\"pm1\");\nvar PM25 = global.get(\"pm25\");\nvar PM10 = global.get(\"pm10\");\nvar id = global.get(\"monitorID\");\nvar cityname = global.get(\"cityname\");\nvar stationname = global.get(\"stationname\");\nvar latitude = global.get(\"latitude\");\nvar longitude = global.get(\"longitude\");\nvar averaging = global.get(\"averaging\");\nvar t = global.get(\"topic\");\n\nd = new Date(),\ndformat = [d.getDate(),\n    d.getMonth()+1,\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n    \nvar time = dformat\n\nif (msg.topic === \"gate\") {\n    context.pass = (msg.payload === true) ? true : false;\n    return null;  // exit out early as it's just the control\n}\nif (context.pass) {\n    return{topic:t, payload:{message:{time, id, cityname, stationname, latitude, longitude, averaging, PM1, PM25, PM10}}};\n    // if enabled pass msg\n}\nreturn null; // or drop it    \n\n\n","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["a9819194.46739","c2c48d03.6dd86","4e914b71.d9eeb4","3009e9f0.7bce0e","1b4fbb04.24d0f5","57df8411.f196c4","d3779836.1321b","fc53110e.142de","d337aeb1.001f58","6da5878f.72455","9b9e81a5.78958","8ecf8460.056aa","5f0b6b5a.60b484","e3600a6a.206f2","429fe73c.59d628"]]},{"id":"8ecf8460.056aa","type":"function","z":"abd8befe.e1ea4","name":"timelist","func":"var message = msg.payload.message.time;\nvar messages = flow.get(\"messagesList\") || [];\n\nif(messages.length < 10) {\n\n  //Push to message list\n  messages.push(message);\n} else {\n\n  //Remove first message and add new one\n  messages.splice(0,1);\n  messages.push(message);\n}\n\nflow.set(\"messagesList\", messages);\n\nmsg.payload = messages;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":660,"wires":[["14974052.3ecfb"]]},{"id":"14974052.3ecfb","type":"ui_template","z":"abd8befe.e1ea4","group":"40cd15bd.8c288c","name":"","order":10,"width":"6","height":"5","format":"<ul id=\"messagesList\">\n  <li ng-repeat=\"x in msg.payload\">{{x}}</li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":400,"y":660,"wires":[[]]},{"id":"9566184f.6b13d8","type":"debug","z":"abd8befe.e1ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1470,"y":400,"wires":[]},{"id":"81397b23.ccabf8","type":"ui_text","z":"abd8befe.e1ea4","group":"ab1ade08.37a94","order":1,"width":0,"height":0,"name":"","label":"Message Topic","format":"{{msg.topic}}","layout":"row-spread","x":860,"y":1180,"wires":[]},{"id":"144505b2.e57b62","type":"ui_text_input","z":"abd8befe.e1ea4","name":"","label":"Message Topic","group":"8c7c1dce.58939","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":900,"y":860,"wires":[["12c09b74.0966e5"]]},{"id":"27fd09b.d825976","type":"function","z":"abd8befe.e1ea4","name":"get topic","func":"var t = msg.topic;\n\nreturn {payload:t};","outputs":1,"noerr":0,"x":700,"y":860,"wires":[["144505b2.e57b62"]]},{"id":"12c09b74.0966e5","type":"function","z":"abd8befe.e1ea4","name":"settopicname","func":"var t = msg.payload;\nflow.set(\"topic\", t);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":860,"wires":[[]]},{"id":"5f0b6b5a.60b484","type":"ui_text","z":"abd8befe.e1ea4","group":"240a8f44.d05458","order":1,"width":0,"height":0,"name":"","label":"Message Topic","format":"{{msg.topic}}","layout":"row-spread","x":660,"y":320,"wires":[]},{"id":"95e74b3b.b8b958","type":"comment","z":"abd8befe.e1ea4","name":"Test nodes","info":"These nodes are here for testing purposes. This is just to test if MQTT message was being sent. Delete thes 2 nodes if you wish.","x":1400,"y":360,"wires":[]},{"id":"429fe73c.59d628","type":"mqtt out","z":"abd8befe.e1ea4","name":"","topic":"","qos":"","retain":"","broker":"","x":660,"y":280,"wires":[]},{"id":"72f97cae.0435bc","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"32","bin":"bin","out":"count","addchar":false},{"id":"8c7c1dce.58939","type":"ui_group","z":"","name":"Edit","tab":"2b70c84f.978898","order":2,"disp":true,"width":"6","collapse":false},{"id":"240a8f44.d05458","type":"ui_group","z":"","name":"Last message","tab":"2b70c84f.978898","order":4,"disp":true,"width":"6","collapse":false},{"id":"99e8dbdf.923e28","type":"ui_group","z":"","name":"Chart","tab":"2b70c84f.978898","order":5,"disp":true,"width":"6","collapse":false},{"id":"ab1ade08.37a94","type":"ui_group","z":"","name":"Info","tab":"2b70c84f.978898","order":1,"disp":true,"width":"6","collapse":false},{"id":"8dc34124.794018","type":"ui_group","z":"","name":"Settings","tab":"2b70c84f.978898","order":3,"disp":true,"width":"6","collapse":false},{"id":"40cd15bd.8c288c","type":"ui_group","z":"","name":"Times of the last 10 messages","tab":"2b70c84f.978898","disp":true,"width":"6","collapse":false},{"id":"2b70c84f.978898","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
