node-RED/nodeREDflow.txt
[{"id":"435ff49b.2551dc","type":"serial in","z":"c7d74907.b7716","name":"","serial":"72f97cae.0435bc","x":150,"y":80,"wires":[["a012b704.5fcfa","a177ea71.217a18"]]},{"id":"1730bf84.e5499","type":"debug","z":"c7d74907.b7716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":240,"wires":[]},{"id":"a012b704.5fcfa","type":"trigger","z":"c7d74907.b7716","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":350,"y":80,"wires":[["ccce91e8.f12d38","3dfade3a.8a726a"]]},{"id":"ccce91e8.f12d38","type":"function","z":"c7d74907.b7716","name":"getbyte","func":"var buf = msg.payload;\nif(buf[0]== 66){\n    if (buf[1]== 77){\n     var pm1= parseInt(buf[4]*256+buf[5]); \n     var pm25 = parseInt(buf[6]*256+buf[7]);\n     var pm10 = parseInt(buf[8]*256+buf[9]);\n     global.set(\"pm1\", pm1);\n     global.set(\"pm25\", pm25);\n     global.set(\"pm10\", pm10);\n   // msg.payload.PM1 = pm1;\n    //msg.payload.PM25 = pm25;\n    //msg.payload.PM10 = pm10;\n    return {payload:{message:{pm1, pm25, pm10}}};\n   // return msg;\n    }\n    else{\n        var er2 = \"errorch2\"\n        global.set(\"pm1\", er2);\n        global.set(\"pm25\", er2);\n        global.set(\"pm10\", er2); \n        return {payload:er2}  \n    }\n}\nelse{\n    var er1 = \"errorch1\"\n    global.set(\"pm1\", er1);\n    global.set(\"pm25\", er1);\n    global.set(\"pm10\", er1); \n    return {payload: er1};\n}","outputs":1,"noerr":0,"x":520,"y":60,"wires":[["99eb436f.4002a8"]]},{"id":"aefc4373.48ea5","type":"mqtt in","z":"c7d74907.b7716","name":"","topic":"Test1","qos":"2","broker":"","x":1350,"y":400,"wires":[["853fcbfa.4ad25"]]},{"id":"e5a6a22d.4f15b8","type":"ui_text_input","z":"c7d74907.b7716","name":"","label":"City Name","group":"8c7c1dce.58939","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":890,"y":940,"wires":[["f167522c.8eb918"]]},{"id":"75a2fc79.e75654","type":"ui_text_input","z":"c7d74907.b7716","name":"","label":"Station Name","group":"8c7c1dce.58939","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":900,"y":980,"wires":[["1e7fff10.ec3921"]]},{"id":"a7e194f7.7fad78","type":"ui_numeric","z":"c7d74907.b7716","name":"","label":"Latitude","group":"8c7c1dce.58939","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":880,"y":1060,"wires":[["c018b6da.73e078"]]},{"id":"c638e630.47f86","type":"ui_numeric","z":"c7d74907.b7716","name":"","label":"Longitude","group":"8c7c1dce.58939","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":880,"y":1020,"wires":[["585face4.51c774"]]},{"id":"b390c4d0.d429e8","type":"ui_numeric","z":"c7d74907.b7716","name":"","label":"Averaging","group":"8c7c1dce.58939","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":890,"y":1100,"wires":[["78a3d336.d07ec4"]]},{"id":"57fba08.9664f6","type":"ui_numeric","z":"c7d74907.b7716","name":"","label":"Monitor ID","group":"8c7c1dce.58939","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":890,"y":900,"wires":[["fb38f532.03d84"]]},{"id":"fb38f532.03d84","type":"function","z":"c7d74907.b7716","name":"setmonitorid","func":"var mid = msg.payload;\nflow.set(\"monitorID\", mid);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":900,"wires":[[]]},{"id":"f167522c.8eb918","type":"function","z":"c7d74907.b7716","name":"setcityname","func":"var city = msg.payload;\nflow.set(\"cityname\", city);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":940,"wires":[[]]},{"id":"1e7fff10.ec3921","type":"function","z":"c7d74907.b7716","name":"setstationname","func":"var stn = msg.payload;\nflow.set(\"stationname\", stn);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":980,"wires":[[]]},{"id":"585face4.51c774","type":"function","z":"c7d74907.b7716","name":"setlongitude","func":"var lon = msg.payload;\nflow.set(\"longitude\", lon);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1020,"wires":[[]]},{"id":"c018b6da.73e078","type":"function","z":"c7d74907.b7716","name":"setlatitude","func":"var lat = msg.payload;\nflow.set(\"latitude\", lat);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1060,"wires":[[]]},{"id":"78a3d336.d07ec4","type":"function","z":"c7d74907.b7716","name":"setaveraging","func":"var avg = msg.payload;\nflow.set(\"averaging\", avg);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1100,"wires":[[]]},{"id":"5ca0f15d.19e198","type":"debug","z":"c7d74907.b7716","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":340,"wires":[]},{"id":"8c0477e9.aeb6","type":"inject","z":"c7d74907.b7716","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0","x":130,"y":360,"wires":[["bd8611d4.0c931"]]},{"id":"5c7c22d4.489734","type":"inject","z":"c7d74907.b7716","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":540,"wires":[["e60a7da7.360908"]]},{"id":"d4f33c86.7ef43","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":2,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload.message.time}}","layout":"row-spread","x":630,"y":360,"wires":[]},{"id":"e03fe0eb.36d658","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":3,"width":0,"height":0,"name":"","label":"Monitor ID","format":"{{msg.payload.message.id}}","layout":"row-spread","x":650,"y":400,"wires":[]},{"id":"4b0cb8ee.90fa5","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":4,"width":0,"height":0,"name":"","label":"City Name","format":"{{msg.payload.message.cityname}}","layout":"row-spread","x":650,"y":440,"wires":[]},{"id":"e1c9071e.231dc8","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":5,"width":0,"height":0,"name":"","label":"Station Name","format":"{{msg.payload.message.stationname}}","layout":"row-spread","x":660,"y":480,"wires":[]},{"id":"1dc3e02c.b193f","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":6,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.message.latitude}}","layout":"row-spread","x":640,"y":520,"wires":[]},{"id":"ea941d9e.98f008","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":7,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.message.longitude}}","layout":"row-spread","x":640,"y":560,"wires":[]},{"id":"701a2d64.00c61c","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":8,"width":0,"height":0,"name":"","label":"PM25","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":660,"wires":[]},{"id":"d1221a31.e46b6","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":9,"width":0,"height":0,"name":"","label":"PM10","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":700,"wires":[]},{"id":"ce2f70c8.e17f48","type":"ui_chart","z":"c7d74907.b7716","name":"","group":"99e8dbdf.923e28","order":0,"width":0,"height":0,"label":"PM1","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":640,"wires":[[],[]]},{"id":"e2201da9.ad5ab","type":"function","z":"c7d74907.b7716","name":"getPM1","func":"var pm1 = msg.payload.message.PM1;\n\nreturn {payload: pm1};","outputs":1,"noerr":0,"x":630,"y":640,"wires":[["ce2f70c8.e17f48","a8439f61.83bb8"]]},{"id":"a8439f61.83bb8","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":10,"width":0,"height":0,"name":"","label":"PM1","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":620,"wires":[]},{"id":"a217ea36.ddff98","type":"function","z":"c7d74907.b7716","name":"getPM25","func":"var pm25 = msg.payload.message.PM25;\n\nreturn {payload: pm25};","outputs":1,"noerr":0,"x":631,"y":680,"wires":[["701a2d64.00c61c","8736d705.3b19b8"]]},{"id":"8736d705.3b19b8","type":"ui_chart","z":"c7d74907.b7716","name":"","group":"99e8dbdf.923e28","order":0,"width":0,"height":0,"label":"PM25","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#0000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":680,"wires":[[],[]]},{"id":"f94da340.8aadb","type":"function","z":"c7d74907.b7716","name":"getPM10","func":"var pm10 = msg.payload.message.PM10;\n\nreturn {payload: pm10};","outputs":1,"noerr":0,"x":628,"y":720,"wires":[["d1221a31.e46b6","f688defd.3b5e7"]]},{"id":"f688defd.3b5e7","type":"ui_chart","z":"c7d74907.b7716","name":"","group":"99e8dbdf.923e28","order":0,"width":0,"height":0,"label":"PM10","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#98df8a","#aec7e8","#ff7f0e","#2ca02c","#0000ff","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":720,"wires":[[],[]]},{"id":"99eb436f.4002a8","type":"debug","z":"c7d74907.b7716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":60,"wires":[]},{"id":"1ccb84a2.0af3d3","type":"file","z":"c7d74907.b7716","name":"","filename":"/home/pi/Documents/data/datafiletest.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1010,"y":200,"wires":[]},{"id":"4aa9152f.54d6d4","type":"function","z":"c7d74907.b7716","name":"writingmesagetocsv","func":"var PM1 = msg.payload.message.PM1;\nvar PM25 = msg.payload.message.PM25;\nvar PM10 = msg.payload.message.PM10;\nvar id = msg.payload.message.id;\nvar cityname = msg.payload.message.cityname;\nvar stationname = msg.payload.message.stationname;\nvar latitude = msg.payload.message.latitude;\nvar longitude = msg.payload.message.longitude;\nvar averaging = msg.payload.message.averaging;\nvar time = msg.payload.message.time;\n\nvar data = time+\",\"+id+\",\"+cityname+\",\"+stationname+\",\"+latitude+\",\"+longitude+\",\"+averaging+\",\"+PM1+\",\"+PM25+\",\"+PM10;\n\nmsg.payload = data;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["1730bf84.e5499","1ccb84a2.0af3d3"]]},{"id":"fe8dfe9d.109ac8","type":"ui_ui_control","z":"c7d74907.b7716","name":"","x":360,"y":1100,"wires":[[]]},{"id":"18ace51e.a0e753","type":"ui_button","z":"c7d74907.b7716","name":"","group":"ab1ade08.37a94","order":8,"width":0,"height":0,"passthru":true,"label":"Edit","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Info\"],\"show\":[\"Home_Edit\"]}}","payloadType":"json","topic":"","x":250,"y":960,"wires":[["c4c0c5e4.d1cd78","fe8dfe9d.109ac8","d925bf59.1784b8"]]},{"id":"c4c0c5e4.d1cd78","type":"debug","z":"c7d74907.b7716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":840,"wires":[]},{"id":"3dfade3a.8a726a","type":"debug","z":"c7d74907.b7716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":120,"wires":[]},{"id":"86cba532.74cd58","type":"ui_button","z":"c7d74907.b7716","name":"","group":"8c7c1dce.58939","order":8,"width":0,"height":0,"passthru":true,"label":"Save","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Edit\"],\"show\":[\"Home_Info\"]}}","payloadType":"json","topic":"","x":250,"y":1260,"wires":[["fe8dfe9d.109ac8","ba555608.2be9a","731f83f.146787c"]]},{"id":"19e54892.3a2e0f","type":"inject","z":"c7d74907.b7716","name":"","topic":"","payload":"{\"group\":{\"show\":[\"Home_Info\"],\"hide\":[\"Home_Edit\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":1080,"wires":[["fe8dfe9d.109ac8"]]},{"id":"ba555608.2be9a","type":"function","z":"c7d74907.b7716","name":"change info edit","func":"var id = flow.get(\"monitorID\");\nvar cityname = flow.get(\"cityname\");\nvar stationname = flow.get(\"stationname\");\nvar latitude = flow.get(\"latitude\");\nvar longitude = flow.get(\"longitude\");\nvar averaging = flow.get(\"averaging\");\nvar t = flow.get(\"topic\");\n\nglobal.set(\"monitorID\", id);\nglobal.set(\"cityname\", cityname);\nglobal.set(\"stationname\", stationname);\nglobal.set(\"longitude\", longitude);\nglobal.set(\"latitude\", latitude);\nglobal.set(\"averaging\", averaging);\nglobal.set(\"topic\", t);\n\nreturn {topic:t, payload:{message:{id, cityname, stationname, latitude, longitude, averaging}}};\n","outputs":1,"noerr":0,"x":540,"y":1260,"wires":[["18e68f9a.a3af28","e4d25a35.773b08","1a8222aa.bb357d","c3209c3.1c6276","a6c96175.aac888","2416ccd5.a765f4","48b60286.e2d85c"]]},{"id":"d925bf59.1784b8","type":"function","z":"c7d74907.b7716","name":"get info","func":"var id = global.get(\"monitorID\");\nvar cityname = global.get(\"cityname\");\nvar stationname = global.get(\"stationname\");\nvar latitude = global.get(\"latitude\");\nvar longitude = global.get(\"longitude\");\nvar averaging = global.get(\"averaging\");\nvar t = global.get(\"topic\");\nreturn {topic:t,payload:{message:{id, cityname, stationname, latitude, longitude, averaging}}};","outputs":1,"noerr":0,"x":520,"y":960,"wires":[["2d316b6f.61e0c4","db4539cd.be4fd8","d4073f4b.e246d8","e0012091.3b3108","2684b898.2c1938","7cc0d422.51ad0c","22f02d5c.0635da","aeb7e93b.da1db"]]},{"id":"18e68f9a.a3af28","type":"ui_text","z":"c7d74907.b7716","group":"ab1ade08.37a94","order":2,"width":0,"height":0,"name":"","label":"Monitor ID","format":"{{msg.payload.message.id}}","layout":"row-spread","x":850,"y":1220,"wires":[]},{"id":"e4d25a35.773b08","type":"ui_text","z":"c7d74907.b7716","group":"ab1ade08.37a94","order":3,"width":0,"height":0,"name":"","label":"City Name","format":"{{msg.payload.message.cityname}}","layout":"row-spread","x":850,"y":1260,"wires":[]},{"id":"1a8222aa.bb357d","type":"ui_text","z":"c7d74907.b7716","group":"ab1ade08.37a94","order":4,"width":0,"height":0,"name":"","label":"Station Name","format":"{{msg.payload.message.stationname}}","layout":"row-spread","x":860,"y":1300,"wires":[]},{"id":"c3209c3.1c6276","type":"ui_text","z":"c7d74907.b7716","group":"ab1ade08.37a94","order":5,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.message.latitude}}","layout":"row-spread","x":840,"y":1380,"wires":[]},{"id":"a6c96175.aac888","type":"ui_text","z":"c7d74907.b7716","group":"ab1ade08.37a94","order":6,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.message.longitude}}","layout":"row-spread","x":840,"y":1340,"wires":[]},{"id":"88e0fb7f.81b3f8","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":11,"width":0,"height":0,"name":"","label":"Averaging","format":"{{msg.payload.message.averaging}}","layout":"row-spread","x":640,"y":600,"wires":[]},{"id":"2416ccd5.a765f4","type":"ui_text","z":"c7d74907.b7716","group":"ab1ade08.37a94","order":7,"width":0,"height":0,"name":"","label":"Averaging","format":"{{msg.payload.message.averaging}}","layout":"row-spread","x":850,"y":1420,"wires":[]},{"id":"db4539cd.be4fd8","type":"function","z":"c7d74907.b7716","name":"get cityname","func":"var c = msg.payload.message.cityname;\n\nreturn {payload:c};","outputs":1,"noerr":0,"x":710,"y":940,"wires":[["e5a6a22d.4f15b8"]]},{"id":"2629a49e.f4908c","type":"inject","z":"c7d74907.b7716","name":"","topic":"Test1","payload":"{\"message\":{\"id\":\"0\",\"cityname\":\"Southampton\",\"stationname\":\"common#1\",\"latitude\":\"0\",\"longitude\":\"0\",\"averaging\":\"0\"}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":430,"y":1440,"wires":[["9b8aa4e6.64a6c"]]},{"id":"a177ea71.217a18","type":"debug","z":"c7d74907.b7716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":40,"wires":[]},{"id":"2d316b6f.61e0c4","type":"function","z":"c7d74907.b7716","name":"get id","func":"var i = msg.payload.message.id;\n\nreturn {payload:i};","outputs":1,"noerr":0,"x":690,"y":900,"wires":[["57fba08.9664f6"]]},{"id":"d4073f4b.e246d8","type":"function","z":"c7d74907.b7716","name":"get stationname","func":"var s = msg.payload.message.stationname;\n\nreturn {payload:s};","outputs":1,"noerr":0,"x":720,"y":980,"wires":[["75a2fc79.e75654"]]},{"id":"e0012091.3b3108","type":"function","z":"c7d74907.b7716","name":"get longitude","func":"var lon = msg.payload.message.longitude;\n\nreturn {payload:lon};","outputs":1,"noerr":0,"x":710,"y":1020,"wires":[["c638e630.47f86"]]},{"id":"2684b898.2c1938","type":"function","z":"c7d74907.b7716","name":"get latitude","func":"var lat = msg.payload.message.latitude;\n\nreturn {payload:lat};","outputs":1,"noerr":0,"x":710,"y":1060,"wires":[["a7e194f7.7fad78"]]},{"id":"7cc0d422.51ad0c","type":"function","z":"c7d74907.b7716","name":"get averaging","func":"var a = msg.payload.message.averaging;\n\nreturn {payload:a}","outputs":1,"noerr":0,"x":720,"y":1100,"wires":[["b390c4d0.d429e8"]]},{"id":"22f02d5c.0635da","type":"debug","z":"c7d74907.b7716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":820,"wires":[]},{"id":"9b8aa4e6.64a6c","type":"function","z":"c7d74907.b7716","name":"change info inject","func":"var id = msg.payload.message.id;\nvar cityname = msg.payload.message.cityname;\nvar stationname = msg.payload.message.stationname;\nvar latitude = msg.payload.message.latitude;\nvar longitude = msg.payload.message.longitude;\nvar averaging = msg.payload.message.averaging;\nvar t = msg.topic;\n\nglobal.set(\"monitorID\", id);\nglobal.set(\"cityname\", cityname);\nglobal.set(\"stationname\", stationname);\nglobal.set(\"longitude\", longitude);\nglobal.set(\"latitude\", latitude);\nglobal.set(\"averaging\", averaging);\nglobal.set(\"topic\", t);\n\nreturn {topic:t, payload:{message:{id, cityname, stationname, latitude, longitude, averaging}}};\n","outputs":1,"noerr":0,"x":590,"y":1360,"wires":[["2416ccd5.a765f4","c3209c3.1c6276","a6c96175.aac888","1a8222aa.bb357d","e4d25a35.773b08","18e68f9a.a3af28","48b60286.e2d85c"]]},{"id":"731f83f.146787c","type":"debug","z":"c7d74907.b7716","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":1360,"wires":[]},{"id":"e60a7da7.360908","type":"ui_switch","z":"c7d74907.b7716","name":"","label":"Send Data","group":"8dc34124.794018","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":480,"wires":[["bd8611d4.0c931"]]},{"id":"bd8611d4.0c931","type":"function","z":"c7d74907.b7716","name":"createmessageMain","func":"var PM1 = global.get(\"pm1\");\nvar PM25 = global.get(\"pm25\");\nvar PM10 = global.get(\"pm10\");\nvar id = global.get(\"monitorID\");\nvar cityname = global.get(\"cityname\");\nvar stationname = global.get(\"stationname\");\nvar latitude = global.get(\"latitude\");\nvar longitude = global.get(\"longitude\");\nvar averaging = global.get(\"averaging\");\nvar t = global.get(\"topic\");\n\nd = new Date(),\ndformat = [d.getDate(),\n    d.getMonth()+1,\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n    \nvar time = dformat\n\nif (msg.topic === \"gate\") {\n    context.pass = (msg.payload === true) ? true : false;\n    return null;  // exit out early as it's just the control\n}\nif (context.pass) {\n    return{topic:t, payload:{message:{time, id, cityname, stationname, latitude, longitude, averaging, PM1, PM25, PM10}}};\n    // if enabled pass msg\n}\nreturn null; // or drop it    \n\n\n","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["f94da340.8aadb","a217ea36.ddff98","e2201da9.ad5ab","88e0fb7f.81b3f8","ea941d9e.98f008","1dc3e02c.b193f","e1c9071e.231dc8","4b0cb8ee.90fa5","e03fe0eb.36d658","d4f33c86.7ef43","5ca0f15d.19e198","8429f179.4c801","82ae110c.0bdef8","4aa9152f.54d6d4","98873770.2d1c9"]]},{"id":"8429f179.4c801","type":"function","z":"c7d74907.b7716","name":"timelist","func":"var message = msg.payload.message.time;\nvar messages = flow.get(\"messagesList\") || [];\n\nif(messages.length < 10) {\n\n  //Push to message list\n  messages.push(message);\n} else {\n\n  //Remove first message and add new one\n  messages.splice(0,1);\n  messages.push(message);\n}\n\nflow.set(\"messagesList\", messages);\n\nmsg.payload = messages;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":660,"wires":[["cdb2411c.93fd08"]]},{"id":"cdb2411c.93fd08","type":"ui_template","z":"c7d74907.b7716","group":"40cd15bd.8c288c","name":"","order":10,"width":"6","height":"5","format":"<ul id=\"messagesList\">\n  <li ng-repeat=\"x in msg.payload\">{{x}}</li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":400,"y":660,"wires":[[]]},{"id":"853fcbfa.4ad25","type":"debug","z":"c7d74907.b7716","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1470,"y":400,"wires":[]},{"id":"48b60286.e2d85c","type":"ui_text","z":"c7d74907.b7716","group":"ab1ade08.37a94","order":1,"width":0,"height":0,"name":"","label":"Message Topic","format":"{{msg.topic}}","layout":"row-spread","x":860,"y":1180,"wires":[]},{"id":"b6a42ad2.4daad8","type":"ui_text_input","z":"c7d74907.b7716","name":"","label":"Message Topic","group":"8c7c1dce.58939","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":900,"y":860,"wires":[["50fdfd15.e45fc4"]]},{"id":"aeb7e93b.da1db","type":"function","z":"c7d74907.b7716","name":"get topic","func":"var t = msg.topic;\n\nreturn {payload:t};","outputs":1,"noerr":0,"x":700,"y":860,"wires":[["b6a42ad2.4daad8"]]},{"id":"50fdfd15.e45fc4","type":"function","z":"c7d74907.b7716","name":"settopicname","func":"var t = msg.payload;\nflow.set(\"topic\", t);\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":860,"wires":[[]]},{"id":"82ae110c.0bdef8","type":"ui_text","z":"c7d74907.b7716","group":"240a8f44.d05458","order":1,"width":0,"height":0,"name":"","label":"Message Topic","format":"{{msg.topic}}","layout":"row-spread","x":660,"y":320,"wires":[]},{"id":"a494cacc.36a088","type":"comment","z":"c7d74907.b7716","name":"Test nodes","info":"These nodes are here for testing purposes. This is just to test if MQTT message was being sent. Delete thes 2 nodes if you wish.","x":1400,"y":360,"wires":[]},{"id":"98873770.2d1c9","type":"mqtt out","z":"c7d74907.b7716","name":"","topic":"","qos":"","retain":"","broker":"","x":660,"y":280,"wires":[]},{"id":"72f97cae.0435bc","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"32","bin":"bin","out":"count","addchar":false},{"id":"8c7c1dce.58939","type":"ui_group","z":"","name":"Edit","tab":"2b70c84f.978898","order":2,"disp":true,"width":"6","collapse":false},{"id":"240a8f44.d05458","type":"ui_group","z":"","name":"Last message","tab":"2b70c84f.978898","order":4,"disp":true,"width":"6","collapse":false},{"id":"99e8dbdf.923e28","type":"ui_group","z":"","name":"Chart","tab":"2b70c84f.978898","order":5,"disp":true,"width":"6","collapse":false},{"id":"ab1ade08.37a94","type":"ui_group","z":"","name":"Info","tab":"2b70c84f.978898","order":1,"disp":true,"width":"6","collapse":false},{"id":"8dc34124.794018","type":"ui_group","z":"","name":"Settings","tab":"2b70c84f.978898","order":3,"disp":true,"width":"6","collapse":false},{"id":"40cd15bd.8c288c","type":"ui_group","z":"","name":"Times of the last 10 messages","tab":"2b70c84f.978898","disp":true,"width":"6","collapse":false},{"id":"2b70c84f.978898","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
