node-RED/nodeREDflow.txt
[{"id":"551e3ff0.8848a8","type":"serial in","z":"1010ca5.c7cdab6","name":"","serial":"72f97cae.0435bc","x":130,"y":80,"wires":[["8ff0bdd5.67fc78","c7e9d3ca.88c368"]]},{"id":"299e7435.0c374c","type":"debug","z":"1010ca5.c7cdab6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":240,"wires":[]},{"id":"8ff0bdd5.67fc78","type":"trigger","z":"1010ca5.c7cdab6","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":330,"y":80,"wires":[["2fa3c290.a9076e","9b52b517.99dc5"]]},{"id":"2fa3c290.a9076e","type":"function","z":"1010ca5.c7cdab6","name":"getbyte","func":"var buf = msg.payload;\nif(buf[0]== 66){\n    if (buf[1]== 77){\n     var pm1= parseInt(buf[4]*256+buf[5]); \n     var pm25 = parseInt(buf[6]*256+buf[7]);\n     var pm10 = parseInt(buf[8]*256+buf[9]);\n     global.set(\"pm1\", pm1);\n     global.set(\"pm25\", pm25);\n     global.set(\"pm10\", pm10);\n   // msg.payload.PM1 = pm1;\n    //msg.payload.PM25 = pm25;\n    //msg.payload.PM10 = pm10;\n    return {payload:{message:{pm1, pm25, pm10}}};\n   // return msg;\n    }\n    else{\n        var er2 = \"errorch2\"\n        global.set(\"pm1\", er2);\n        global.set(\"pm25\", er2);\n        global.set(\"pm10\", er2); \n        return {payload:er2}  \n    }\n}\nelse{\n    var er1 = \"errorch1\"\n    global.set(\"pm1\", er1);\n    global.set(\"pm25\", er1);\n    global.set(\"pm10\", er1); \n    return {payload: er1};\n}","outputs":1,"noerr":0,"x":500,"y":60,"wires":[["7f4647c5.d362f8"]]},{"id":"775e93b1.ee357c","type":"mqtt in","z":"1010ca5.c7cdab6","name":"","topic":"Test1","qos":"2","broker":"78eb0e27.49f7c","x":1330,"y":400,"wires":[["cc474ff5.d2cfc8"]]},{"id":"11b9592c.9d2f07","type":"mqtt out","z":"1010ca5.c7cdab6","name":"","topic":"","qos":"1","retain":"","broker":"78eb0e27.49f7c","x":610,"y":260,"wires":[]},{"id":"3e5c032d.792804","type":"ui_text_input","z":"1010ca5.c7cdab6","name":"","label":"City Name","group":"8c7c1dce.58939","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":870,"y":940,"wires":[["b460f32f.1c9c68"]]},{"id":"940638e1.37e318","type":"ui_text_input","z":"1010ca5.c7cdab6","name":"","label":"Station Name","group":"8c7c1dce.58939","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":880,"y":980,"wires":[["9ab0ba69.84b6c8"]]},{"id":"dfefff4d.590208","type":"ui_numeric","z":"1010ca5.c7cdab6","name":"","label":"Latitude","group":"8c7c1dce.58939","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":860,"y":1060,"wires":[["2e7918b6.823488"]]},{"id":"9c8293de.747c78","type":"ui_numeric","z":"1010ca5.c7cdab6","name":"","label":"Longitude","group":"8c7c1dce.58939","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":860,"y":1020,"wires":[["fd3a8e2e.481d5"]]},{"id":"6087225d.593fec","type":"ui_numeric","z":"1010ca5.c7cdab6","name":"","label":"Averaging","group":"8c7c1dce.58939","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":870,"y":1100,"wires":[["59a3c53f.8c0d0c"]]},{"id":"d6976e55.75c468","type":"ui_numeric","z":"1010ca5.c7cdab6","name":"","label":"Monitor ID","group":"8c7c1dce.58939","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":870,"y":900,"wires":[["6d637825.8aed5"]]},{"id":"6d637825.8aed5","type":"function","z":"1010ca5.c7cdab6","name":"setmonitorid","func":"var mid = msg.payload;\nflow.set(\"monitorID\", mid);\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":900,"wires":[[]]},{"id":"b460f32f.1c9c68","type":"function","z":"1010ca5.c7cdab6","name":"setcityname","func":"var city = msg.payload;\nflow.set(\"cityname\", city);\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":940,"wires":[[]]},{"id":"9ab0ba69.84b6c8","type":"function","z":"1010ca5.c7cdab6","name":"setstationname","func":"var stn = msg.payload;\nflow.set(\"stationname\", stn);\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":980,"wires":[[]]},{"id":"fd3a8e2e.481d5","type":"function","z":"1010ca5.c7cdab6","name":"setlongitude","func":"var lon = msg.payload;\nflow.set(\"longitude\", lon);\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1020,"wires":[[]]},{"id":"2e7918b6.823488","type":"function","z":"1010ca5.c7cdab6","name":"setlatitude","func":"var lat = msg.payload;\nflow.set(\"latitude\", lat);\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1060,"wires":[[]]},{"id":"59a3c53f.8c0d0c","type":"function","z":"1010ca5.c7cdab6","name":"setaveraging","func":"var avg = msg.payload;\nflow.set(\"averaging\", avg);\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1100,"wires":[[]]},{"id":"3d9cafa9.385938","type":"debug","z":"1010ca5.c7cdab6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":340,"wires":[]},{"id":"9d27cbb1.fe005","type":"inject","z":"1010ca5.c7cdab6","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0","x":110,"y":360,"wires":[["2bc0de6b.0c5c62"]]},{"id":"a6385670.4757b","type":"inject","z":"1010ca5.c7cdab6","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":540,"wires":[["557fc668.321c78"]]},{"id":"a5d37a3a.9bf608","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":2,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload.message.time}}","layout":"row-spread","x":610,"y":360,"wires":[]},{"id":"8ff285f7.804a98","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":3,"width":0,"height":0,"name":"","label":"Monitor ID","format":"{{msg.payload.message.id}}","layout":"row-spread","x":630,"y":400,"wires":[]},{"id":"159fff08.344a71","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":4,"width":0,"height":0,"name":"","label":"City Name","format":"{{msg.payload.message.cityname}}","layout":"row-spread","x":630,"y":440,"wires":[]},{"id":"8040b061.f3a5b8","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":5,"width":0,"height":0,"name":"","label":"Station Name","format":"{{msg.payload.message.stationname}}","layout":"row-spread","x":640,"y":480,"wires":[]},{"id":"e877ea4f.b76d7","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":6,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.message.latitude}}","layout":"row-spread","x":620,"y":520,"wires":[]},{"id":"65967519.3a29b4","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":7,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.message.longitude}}","layout":"row-spread","x":620,"y":560,"wires":[]},{"id":"95210260.2f2f1","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":8,"width":0,"height":0,"name":"","label":"PM25","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":660,"wires":[]},{"id":"ac87c7e8.d249a8","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":9,"width":0,"height":0,"name":"","label":"PM10","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":700,"wires":[]},{"id":"9b0c92ac.70b468","type":"ui_chart","z":"1010ca5.c7cdab6","name":"","group":"99e8dbdf.923e28","order":0,"width":0,"height":0,"label":"PM1","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":910,"y":640,"wires":[[],[]]},{"id":"f9347a11.cb75f","type":"function","z":"1010ca5.c7cdab6","name":"getPM1","func":"var pm1 = msg.payload.message.PM1;\n\nreturn {payload: pm1};","outputs":1,"noerr":0,"x":610,"y":640,"wires":[["9b0c92ac.70b468","f6e363fa.edbf38"]]},{"id":"f6e363fa.edbf38","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":10,"width":0,"height":0,"name":"","label":"PM1","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":620,"wires":[]},{"id":"e7be14de.ceb038","type":"function","z":"1010ca5.c7cdab6","name":"getPM25","func":"var pm25 = msg.payload.message.PM25;\n\nreturn {payload: pm25};","outputs":1,"noerr":0,"x":611,"y":680,"wires":[["95210260.2f2f1","e24676e6.16c938"]]},{"id":"e24676e6.16c938","type":"ui_chart","z":"1010ca5.c7cdab6","name":"","group":"99e8dbdf.923e28","order":0,"width":0,"height":0,"label":"PM25","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#0000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":910,"y":680,"wires":[[],[]]},{"id":"684297ff.e5c648","type":"function","z":"1010ca5.c7cdab6","name":"getPM10","func":"var pm10 = msg.payload.message.PM10;\n\nreturn {payload: pm10};","outputs":1,"noerr":0,"x":608,"y":720,"wires":[["ac87c7e8.d249a8","ea5f9097.844aa8"]]},{"id":"ea5f9097.844aa8","type":"ui_chart","z":"1010ca5.c7cdab6","name":"","group":"99e8dbdf.923e28","order":0,"width":0,"height":0,"label":"PM10","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#98df8a","#aec7e8","#ff7f0e","#2ca02c","#0000ff","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":910,"y":720,"wires":[[],[]]},{"id":"7f4647c5.d362f8","type":"debug","z":"1010ca5.c7cdab6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":60,"wires":[]},{"id":"45e607ac.8ea52","type":"file","z":"1010ca5.c7cdab6","name":"","filename":"/home/pi/Documents/data/datafiletest.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":990,"y":200,"wires":[]},{"id":"e19f8561.35333","type":"function","z":"1010ca5.c7cdab6","name":"writingmesagetocsv","func":"var PM1 = msg.payload.message.PM1;\nvar PM25 = msg.payload.message.PM25;\nvar PM10 = msg.payload.message.PM10;\nvar id = msg.payload.message.id;\nvar cityname = msg.payload.message.cityname;\nvar stationname = msg.payload.message.stationname;\nvar latitude = msg.payload.message.latitude;\nvar longitude = msg.payload.message.longitude;\nvar averaging = msg.payload.message.averaging;\nvar time = msg.payload.message.time;\n\nvar data = time+\",\"+id+\",\"+cityname+\",\"+stationname+\",\"+latitude+\",\"+longitude+\",\"+averaging+\",\"+PM1+\",\"+PM25+\",\"+PM10;\n\nmsg.payload = data;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["299e7435.0c374c","45e607ac.8ea52"]]},{"id":"94b191ef.308978","type":"ui_ui_control","z":"1010ca5.c7cdab6","name":"","x":340,"y":1100,"wires":[[]]},{"id":"e0c27b5d.d890d","type":"ui_button","z":"1010ca5.c7cdab6","name":"","group":"ab1ade08.37a94","order":8,"width":0,"height":0,"passthru":true,"label":"Edit","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Info\"],\"show\":[\"Home_Edit\"]}}","payloadType":"json","topic":"","x":230,"y":960,"wires":[["56950fb4.05685","94b191ef.308978","c48697d6.38f818"]]},{"id":"56950fb4.05685","type":"debug","z":"1010ca5.c7cdab6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":840,"wires":[]},{"id":"9b52b517.99dc5","type":"debug","z":"1010ca5.c7cdab6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":120,"wires":[]},{"id":"ed29e1d3.49814","type":"ui_button","z":"1010ca5.c7cdab6","name":"","group":"8c7c1dce.58939","order":8,"width":0,"height":0,"passthru":true,"label":"Save","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Edit\"],\"show\":[\"Home_Info\"]}}","payloadType":"json","topic":"","x":230,"y":1260,"wires":[["94b191ef.308978","421ece8b.afb638","26627a24.fd4fee"]]},{"id":"df053b24.5ccb98","type":"inject","z":"1010ca5.c7cdab6","name":"","topic":"","payload":"{\"group\":{\"show\":[\"Home_Info\"],\"hide\":[\"Home_Edit\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":1080,"wires":[["94b191ef.308978"]]},{"id":"421ece8b.afb638","type":"function","z":"1010ca5.c7cdab6","name":"change info edit","func":"var id = flow.get(\"monitorID\");\nvar cityname = flow.get(\"cityname\");\nvar stationname = flow.get(\"stationname\");\nvar latitude = flow.get(\"latitude\");\nvar longitude = flow.get(\"longitude\");\nvar averaging = flow.get(\"averaging\");\nvar t = flow.get(\"topic\");\n\nglobal.set(\"monitorID\", id);\nglobal.set(\"cityname\", cityname);\nglobal.set(\"stationname\", stationname);\nglobal.set(\"longitude\", longitude);\nglobal.set(\"latitude\", latitude);\nglobal.set(\"averaging\", averaging);\nglobal.set(\"topic\", t);\n\nreturn {topic:t, payload:{message:{id, cityname, stationname, latitude, longitude, averaging}}};\n","outputs":1,"noerr":0,"x":520,"y":1260,"wires":[["c44eb78c.9ac91","7d6193dc.39702c","e349fe05.5b87b","5714fb4.0b00204","26205092.0e77a","12125fac.23bc18","948f4716.5e1018"]]},{"id":"c48697d6.38f818","type":"function","z":"1010ca5.c7cdab6","name":"get info","func":"var id = global.get(\"monitorID\");\nvar cityname = global.get(\"cityname\");\nvar stationname = global.get(\"stationname\");\nvar latitude = global.get(\"latitude\");\nvar longitude = global.get(\"longitude\");\nvar averaging = global.get(\"averaging\");\nvar t = global.get(\"topic\");\nreturn {topic:t,payload:{message:{id, cityname, stationname, latitude, longitude, averaging}}};","outputs":1,"noerr":0,"x":500,"y":960,"wires":[["2dc13f86.db6c7","a28c5027.011c68","d1dea9fa.5f8cf8","968af5dd.622f9","fe38c92a.cc99a","d12a213e.61f4c8","3518efce.8b5778","6720ec0d.5e1cac"]]},{"id":"c44eb78c.9ac91","type":"ui_text","z":"1010ca5.c7cdab6","group":"ab1ade08.37a94","order":2,"width":0,"height":0,"name":"","label":"Monitor ID","format":"{{msg.payload.message.id}}","layout":"row-spread","x":830,"y":1220,"wires":[]},{"id":"7d6193dc.39702c","type":"ui_text","z":"1010ca5.c7cdab6","group":"ab1ade08.37a94","order":3,"width":0,"height":0,"name":"","label":"City Name","format":"{{msg.payload.message.cityname}}","layout":"row-spread","x":830,"y":1260,"wires":[]},{"id":"e349fe05.5b87b","type":"ui_text","z":"1010ca5.c7cdab6","group":"ab1ade08.37a94","order":4,"width":0,"height":0,"name":"","label":"Station Name","format":"{{msg.payload.message.stationname}}","layout":"row-spread","x":840,"y":1300,"wires":[]},{"id":"5714fb4.0b00204","type":"ui_text","z":"1010ca5.c7cdab6","group":"ab1ade08.37a94","order":5,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.message.latitude}}","layout":"row-spread","x":820,"y":1380,"wires":[]},{"id":"26205092.0e77a","type":"ui_text","z":"1010ca5.c7cdab6","group":"ab1ade08.37a94","order":6,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.message.longitude}}","layout":"row-spread","x":820,"y":1340,"wires":[]},{"id":"b30eafbe.d2482","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":11,"width":0,"height":0,"name":"","label":"Averaging","format":"{{msg.payload.message.averaging}}","layout":"row-spread","x":620,"y":600,"wires":[]},{"id":"12125fac.23bc18","type":"ui_text","z":"1010ca5.c7cdab6","group":"ab1ade08.37a94","order":7,"width":0,"height":0,"name":"","label":"Averaging","format":"{{msg.payload.message.averaging}}","layout":"row-spread","x":830,"y":1420,"wires":[]},{"id":"a28c5027.011c68","type":"function","z":"1010ca5.c7cdab6","name":"get cityname","func":"var c = msg.payload.message.cityname;\n\nreturn {payload:c};","outputs":1,"noerr":0,"x":690,"y":940,"wires":[["3e5c032d.792804"]]},{"id":"1596d078.b8fc4","type":"inject","z":"1010ca5.c7cdab6","name":"","topic":"Test1","payload":"{\"message\":{\"id\":\"0\",\"cityname\":\"Southampton\",\"stationname\":\"common#1\",\"latitude\":\"0\",\"longitude\":\"0\",\"averaging\":\"0\"}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":410,"y":1440,"wires":[["8bbcd537.75a218"]]},{"id":"c7e9d3ca.88c368","type":"debug","z":"1010ca5.c7cdab6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":40,"wires":[]},{"id":"2dc13f86.db6c7","type":"function","z":"1010ca5.c7cdab6","name":"get id","func":"var i = msg.payload.message.id;\n\nreturn {payload:i};","outputs":1,"noerr":0,"x":670,"y":900,"wires":[["d6976e55.75c468"]]},{"id":"d1dea9fa.5f8cf8","type":"function","z":"1010ca5.c7cdab6","name":"get stationname","func":"var s = msg.payload.message.stationname;\n\nreturn {payload:s};","outputs":1,"noerr":0,"x":700,"y":980,"wires":[["940638e1.37e318"]]},{"id":"968af5dd.622f9","type":"function","z":"1010ca5.c7cdab6","name":"get longitude","func":"var lon = msg.payload.message.longitude;\n\nreturn {payload:lon};","outputs":1,"noerr":0,"x":690,"y":1020,"wires":[["9c8293de.747c78"]]},{"id":"fe38c92a.cc99a","type":"function","z":"1010ca5.c7cdab6","name":"get latitude","func":"var lat = msg.payload.message.latitude;\n\nreturn {payload:lat};","outputs":1,"noerr":0,"x":690,"y":1060,"wires":[["dfefff4d.590208"]]},{"id":"d12a213e.61f4c8","type":"function","z":"1010ca5.c7cdab6","name":"get averaging","func":"var a = msg.payload.message.averaging;\n\nreturn {payload:a}","outputs":1,"noerr":0,"x":700,"y":1100,"wires":[["6087225d.593fec"]]},{"id":"3518efce.8b5778","type":"debug","z":"1010ca5.c7cdab6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":820,"wires":[]},{"id":"8bbcd537.75a218","type":"function","z":"1010ca5.c7cdab6","name":"change info inject","func":"var id = msg.payload.message.id;\nvar cityname = msg.payload.message.cityname;\nvar stationname = msg.payload.message.stationname;\nvar latitude = msg.payload.message.latitude;\nvar longitude = msg.payload.message.longitude;\nvar averaging = msg.payload.message.averaging;\nvar t = msg.topic;\n\nglobal.set(\"monitorID\", id);\nglobal.set(\"cityname\", cityname);\nglobal.set(\"stationname\", stationname);\nglobal.set(\"longitude\", longitude);\nglobal.set(\"latitude\", latitude);\nglobal.set(\"averaging\", averaging);\nglobal.set(\"topic\", t);\n\nreturn {topic:t, payload:{message:{id, cityname, stationname, latitude, longitude, averaging}}};\n","outputs":1,"noerr":0,"x":570,"y":1360,"wires":[["12125fac.23bc18","5714fb4.0b00204","26205092.0e77a","e349fe05.5b87b","7d6193dc.39702c","c44eb78c.9ac91","948f4716.5e1018"]]},{"id":"26627a24.fd4fee","type":"debug","z":"1010ca5.c7cdab6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":1360,"wires":[]},{"id":"557fc668.321c78","type":"ui_switch","z":"1010ca5.c7cdab6","name":"","label":"Send Data","group":"8dc34124.794018","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":480,"wires":[["2bc0de6b.0c5c62"]]},{"id":"2bc0de6b.0c5c62","type":"function","z":"1010ca5.c7cdab6","name":"createmessageMain","func":"var PM1 = global.get(\"pm1\");\nvar PM25 = global.get(\"pm25\");\nvar PM10 = global.get(\"pm10\");\nvar id = global.get(\"monitorID\");\nvar cityname = global.get(\"cityname\");\nvar stationname = global.get(\"stationname\");\nvar latitude = global.get(\"latitude\");\nvar longitude = global.get(\"longitude\");\nvar averaging = global.get(\"averaging\");\nvar t = global.get(\"topic\");\n\nd = new Date(),\ndformat = [d.getDate(),\n    d.getMonth()+1,\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n    \nvar time = dformat\n\nif (msg.topic === \"gate\") {\n    context.pass = (msg.payload === true) ? true : false;\n    return null;  // exit out early as it's just the control\n}\nif (context.pass) {\n    return{topic:t, payload:{message:{time, id, cityname, stationname, latitude, longitude, averaging, PM1, PM25, PM10}}};\n    // if enabled pass msg\n}\nreturn null; // or drop it    \n\n\n","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["684297ff.e5c648","e7be14de.ceb038","f9347a11.cb75f","b30eafbe.d2482","65967519.3a29b4","e877ea4f.b76d7","8040b061.f3a5b8","159fff08.344a71","8ff285f7.804a98","a5d37a3a.9bf608","3d9cafa9.385938","d09c64d1.6c4a4","11b9592c.9d2f07","3be5ba88.9e2176","e19f8561.35333"]]},{"id":"d09c64d1.6c4a4","type":"function","z":"1010ca5.c7cdab6","name":"timelist","func":"var message = msg.payload.message.time;\nvar messages = flow.get(\"messagesList\") || [];\n\nif(messages.length < 10) {\n\n  //Push to message list\n  messages.push(message);\n} else {\n\n  //Remove first message and add new one\n  messages.splice(0,1);\n  messages.push(message);\n}\n\nflow.set(\"messagesList\", messages);\n\nmsg.payload = messages;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":660,"wires":[["5e497143.ef3c"]]},{"id":"5e497143.ef3c","type":"ui_template","z":"1010ca5.c7cdab6","group":"40cd15bd.8c288c","name":"","order":10,"width":"6","height":"5","format":"<ul id=\"messagesList\">\n  <li ng-repeat=\"x in msg.payload\">{{x}}</li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":380,"y":660,"wires":[[]]},{"id":"cc474ff5.d2cfc8","type":"debug","z":"1010ca5.c7cdab6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1450,"y":400,"wires":[]},{"id":"948f4716.5e1018","type":"ui_text","z":"1010ca5.c7cdab6","group":"ab1ade08.37a94","order":1,"width":0,"height":0,"name":"","label":"Message Topic","format":"{{msg.topic}}","layout":"row-spread","x":840,"y":1180,"wires":[]},{"id":"d9e71020.89c0b","type":"ui_text_input","z":"1010ca5.c7cdab6","name":"","label":"Message Topic","group":"8c7c1dce.58939","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":880,"y":860,"wires":[["aa56c3e5.e900e8"]]},{"id":"6720ec0d.5e1cac","type":"function","z":"1010ca5.c7cdab6","name":"get topic","func":"var t = msg.topic;\n\nreturn {payload:t};","outputs":1,"noerr":0,"x":680,"y":860,"wires":[["d9e71020.89c0b"]]},{"id":"aa56c3e5.e900e8","type":"function","z":"1010ca5.c7cdab6","name":"settopicname","func":"var t = msg.payload;\nflow.set(\"topic\", t);\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":860,"wires":[[]]},{"id":"3be5ba88.9e2176","type":"ui_text","z":"1010ca5.c7cdab6","group":"240a8f44.d05458","order":1,"width":0,"height":0,"name":"","label":"Message Topic","format":"{{msg.topic}}","layout":"row-spread","x":640,"y":320,"wires":[]},{"id":"598ddc34.2b1e54","type":"comment","z":"1010ca5.c7cdab6","name":"Test nodes","info":"These nodes are here for testing purposes. This is just to test if MQTT message was being sent. Delete thes 2 nodes if you wish.","x":1380,"y":360,"wires":[]},{"id":"72f97cae.0435bc","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"32","bin":"bin","out":"count","addchar":false},{"id":"78eb0e27.49f7c","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8c7c1dce.58939","type":"ui_group","z":"","name":"Edit","tab":"2b70c84f.978898","order":2,"disp":true,"width":"6","collapse":false},{"id":"240a8f44.d05458","type":"ui_group","z":"","name":"Last message","tab":"2b70c84f.978898","order":4,"disp":true,"width":"6","collapse":false},{"id":"99e8dbdf.923e28","type":"ui_group","z":"","name":"Chart","tab":"2b70c84f.978898","order":5,"disp":true,"width":"6","collapse":false},{"id":"ab1ade08.37a94","type":"ui_group","z":"","name":"Info","tab":"2b70c84f.978898","order":1,"disp":true,"width":"6","collapse":false},{"id":"8dc34124.794018","type":"ui_group","z":"","name":"Settings","tab":"2b70c84f.978898","order":3,"disp":true,"width":"6","collapse":false},{"id":"40cd15bd.8c288c","type":"ui_group","z":"","name":"Times of the last 10 messages","tab":"2b70c84f.978898","disp":true,"width":"6","collapse":false},{"id":"2b70c84f.978898","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]